.title {
  display: inline-block;
  font-size: 21pt;
  margin-bottom: 16px;
  margin-left: 32px;
  width: 30%;
}

.hour {
  width: 25px;
  height: 25px;
  background-color: #e0e0d1;
  display: inline-block;
  margin: 1px;
}

.busy-hour {
  width: 25px;
  height: 25px;
  background-color: #999999;
  display: inline-block;
  margin: 1px;
}

.all-day-off {
  width: 25px;
  height: 25px;
  background-color: #4d4d4d;
  display: inline-block;
  margin: 1px;
}

.day-name {
  display: inline-block;
  height: 25px;
  margin: 1px 6px 1px 1px;
  text-transform: uppercase;
  vertical-align: top;
  width: 25px;
}

.button {
  border-radius: 6px;
  display: inline-block;
  height: 30px;
  margin: 5px;
  vertical-align: top;
  width: 80px;
}

.schedule {
  display: inline-block;
  margin-left: 45px;
  margin-top: 15px;
  width: 55%;
}

.buttons-block {
  display: inline-block;
  margin-left: 70%;
}

.block {
  display: block;
  margin-left: 59.1px;
}

.interval {
  border-left: thin solid;
  display: inline-block;
  height: 25px;
  width: 80.1px;
}

.interval-value {
  font-size: 10pt;
  margin-left: 4px;
  margin-top: 2px;
}
